*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fbfbf6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(37, 37, 37)
}

/* NABVAR */

nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.nav-container{
    width: 1240px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    width: 80px
}

.menu-container{
    display: flex;
    gap: 20px;
}

.menu-mobile{
    display: none;
}

.menu-container-mobile{
    display: none;
}


@media (max-width: 450px) {
    .nav-container{
        width: 100%;
    }
    .menu-container{
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .menu-container-mobile{
        display: block;
        position: absolute;
        top:0;
        right: 0;
        padding: 12px;
        text-align: center;
    }
}
    
/* HERO */

.hero-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero-container{
    width: 600px;
    height: calc(100vh-60px);
    padding-left: 25px ;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-titles p{
    margin-top: 30px;
}

.hero-button{
    margin-top: 30px;
    border-radius: 25px;
    background-color: rgb(27, 27, 27);
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    cursor: pointer;
}

@media(max-width: 450px)  {
    .hero-container{
        width: 100%;
    }
    .hero-container img{
        width: 75%;
    }
}

/* CARDs */

.cards-container-main{
    width: 100%;
    background: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px ;
    padding-right: 25px;
    gap: 25px;
}

.card-title{
    padding-left: 25px ;
    padding-right: 25px;
    text-align: start;
    margin-top: 50px;
    color: white;
}

.card-title h3{
    margin-bottom: 20px;
}

.card-title h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 300;
}

.card-container{
    background-color: #313236;
    border-radius: 25px;
    width: 380px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 25px ;
    padding-right: 25px;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.card-container h4{
    color: rgb(168, 168, 168);
    margin-bottom: 30px;
}

.card-container h1{
    margin-bottom: 30px;
}

.card-container p{
    margin-bottom: 30px;
}

.card-container button{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #1b1b1b;
    color: white;
    margin-bottom: 30px;
}

.card-container a{
    text-decoration: underline;
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
}

.card-container-list li{
    padding-bottom: 12px;
}

@media(max-width: 450px)  {
    .cards{
        width: 100%;
    }
    .card-container{
        width: 100%;
    }
    .card-container-main{
        width: 100%;
    }

}


/* FOOTER */

.footer-section{
    width: 100%;
    background-color: black;
    color: #004250;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-section section{
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    justify-content: space-around;
    padding-left: 25px ;
    padding-right: 25px;
    margin: 40px;
}

.section-one h5{
    font-weight: 900;
    margin-bottom: 10px;
}

.section-two h5{
    font-weight: 900;
    margin-bottom: 10px;
}

.list-social{
    display: flex;
    gap: 20px;
}

.list-social li a{
    color: aliceblue;
}

.list-social li a:hover{
    color: #004250;
}

.list-about li a{
    color: aliceblue;
    font-weight: 300;
}

.list-about li a:hover{
    color: #1b1b1b;
}